html, pre, #getCatFactButton, #getCatFactButton:hover, #browse_button, #browse_button:hover, .nav_bar{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color: rgb(180, 126, 231);
}

body, header #body1_container, #body2_container, #splash_image{
    margin: 0px;
    padding: 0px;
}

header #body1_container{
    background-color: rgb(85, 40, 161);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
    padding:10px;
}

#body2_container{
    background-image: url('/images/splash.JPG'); 
    background-size: cover; 
    background-position: center;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header a{
    width: 25%;
    height: auto;
}

#logo{
    width: 100%;
}

.nav_bar{
    margin-top: 5px;
    padding: 0 10px;
    margin-right: 50px;
    background-color: rgb(243, 134, 228);
    width: 200px;
    height: 40px;
    border: 5px solid rgb(180, 126, 231);
    color: white;
    font-size: 14pt;
    border-radius: 20px;
}

#search{
    margin-top: 5px;
    margin-right: 50px;
}

input.search_bar{
    background-color: rgb(243, 134, 228);
    color: white;
    border-radius: 20px;
    border: 5px solid rgb(180, 126, 231);
    height: 60px;
}

#search input.search_bar::placeholder{
    color: white;
    font-size: 14pt;
}

#search input.search_bar{
    height: 30px;
}

.nav_bar:hover{
    background-color: rgb(212, 6, 212);
    cursor: pointer;
}

#browse_button{
    background-color: rgb(180, 126, 231);
    width: 250px;
    height: 80px;
    border-radius:20px;
    border: 5px solid rgb(243, 134, 228);
    cursor:pointer;
    color:white;
    font-size: 22pt;
}

#browse_button:hover{
    background-color: rgb(212, 6, 212);
}

#browse_button h1{
    color: white;
    text-align: center;
}

#hook{
    display: inline;
    width:100%;
    background-color: rgb(180, 126, 231);
    margin: 0px;
    padding: 5px;
}

#hook h1{
    text-align: center;
    color:white;
}

#welcome_bar{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(180, 126, 231);
    text-align: center;
    padding: 5px;
    margin-bottom: 20px;
}

#welcome_bar h2{
    color:white;
}

.cat_prints{
    height: 90px;
    border: 0px;
    background-image: url('/images/cat_prints.png');
    background-repeat: repeat-x;
    margin-top: 0px;
    margin-bottom: 10px;
}

.cat_prints_container{
    background-color: rgb(180, 126, 231);
    padding:0px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.fproduct{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    max-width: 1550px;
    padding:10px;
}

 .fprod_text_box{
    margin: 40px;
}

.fprod{
    color: white;
    font-size: 40pt;
    margin: 0px;
} 

.fprod_1{
    display:flex;
    justify-content: space-between;
}

.fprod_image{
    margin-right: 35px;
    margin-bottom: 35px;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border: 5px solid rgb(180, 126, 231);
}

.fprod_image:hover{
    border: 5px solid rgb(212, 6, 212);
}

.fprod_label{
    color: white;
}

#vdaysaleimage{
    margin-left: 30px;
}

#vday pre{
    text-align: right;
    font-size: 25pt;
}

footer #footer_background{
    display: flex;
    align-items: flex-end;
    background-color: rgb(85, 40, 161);
    width: 100%;
    height: 110px;
}

footer #coffee_bean_footer_accent{
    display:flex;
    justify-content: center;
    text-align: center;
    background-image: url('/images/coffee-beans.png');
    background-repeat: repeat-x;
    width: 100%;
    height: 100px;
}

#coffee_bean_footer_accent p{
    color: white;
    font-size: medium;
}

#title-container{
    text-align: center;
}

#title{
    color: white;
    font-size: 35pt;
    margin-top: 50px;
    margin-bottom: 50px;
}

#description{
    color: white;
    font-size: 18pt;
}

.image{
    width: 300px;
    height: 300px;
    border: 5px solid rgb(212, 6, 212);
}

#product-list-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#sawyer{
    width: 75%;
    height: 400px;
}

#sawyer1, #sawyer1 div{
    display: flex;
    justify-content: center;
    margin: 50px 50px 50px 50px;
    text-align: center;
    font-size: 18pt;
}